.message {
  position: relative;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 16px;
  padding: 5px 7px;
  width: fit-content;
  max-width: 60%;
  word-break: break-all;
  border-radius: 10px;
  color: #111b21;
  background-color: #dcf8c6;
  margin-left: auto;
  margin-bottom: 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.reciever {
  margin-right: auto;
  margin-left: 0;
  background-color: #fff;
}

/* .message__content {
  margin-bottom: 7px;
} */

.message__wrap {
  margin-left: auto;
  display: flex;
}
.message__timestamp {
  margin-left: 5px;
  font-size: 0.6875rem;
  color: #667781;
  align-self: flex-end;
}

.message__name {
  position: absolute;
  top: -15px;
  font-weight: 800;
  font-size: xx-small;
}
